* {
  box-sizing: border-box;
}
body {
  font-family: 'Neucha', cursive;
  font-size: 13px;
}
footer {
  padding: 1% 0;
  background-color: #c25c46;
}
header {
  padding: 12% 0;
}
section {
  padding: 3% 0;
}
.section-title {
width: 100%;
text-align: center;
font-size: 60px;

}

#timeline {
  background-color: white;
  position: relative;



}

/* .bus-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
} */




/* NAV BAR STYLING  */
.Navbar {
  display: flex;
  background-color: #46ACC2;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  position: relative;
  font-family: 'Amatic SC', cursive;
}
.Navbar__Items {
  display:flex;

}


.Header-Title-Logo{
  display:flex;
      margin-top: 50px;
      font-size: 20px;
}
.Header-Image-Logo{
    margin-left: 50px;
}
.Navbar__Link {
  padding-right: 8px;
  display:flex;
  justify-content: space-between;
  font-size: 30px;
}
.Navbar__Link-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 10px;
}
.email-button{
  width:130px;
  font-size:25px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px;
}

@media only screen and (min-width:769px) {
  .Navbar__Items{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 25px;
  margin-right: 5%;
  display: flex;
  }
}
/* NAV BAR STYLING  */

/* MY PROJECTS SECTION */
