/* HERO CONTAINER STYLING */
.hero-container{
  height:450px;
  display:flex;
  flex-direction: row;
  background-image: linear-gradient(rgba(70, 172, 194, 0.5),rgba(221, 221, 221, 0.1)), url('../images/Santiago-Contour.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
  /* background-blend-mode: screen; */
  z-index: 1;
  font-family: 'Neucha', cursive;
}
.about{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  color:black;
  padding: 10px;
}
.who{
  z-index: 2;
  background-color: rgba(96, 198, 220, .5)
}
.why{
  z-index: 2;
  background-color: rgba(70, 172, 194, 0.5)

}
.how{
  z-index: 2;
  background-color: rgba(45, 147, 169, .5)
}
.about-span {
  display:none;
  text-align:center;
  font-size: 15px;
}
.about-title{
  font-size:30px;
}
.left{
  margin-right: 50%;
}
.right {
  margin-left: 50%
}
.show {
  display:flex;
}

/* NAVBAR STYLING */
.Navbar__Link-toggle {
  display: none;
}

/* TIMELINE STYLING */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 36px;
  margin: 0 auto;
  padding-top: 50px;

  background-image: url('../images/road2.png');
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;

}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;

  padding: 15px;

  background: #a2e87e;
}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #a2e87e transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #a2e87e;
}
.timeline ul li::after {

  transition: background .5s ease-in-out;
}
.timeline ul li.in-view::after {

  background-image: url('../images/bus-stop.png');
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.car-image{
  display: block;
  margin: auto;
}
.date-timeline{
font-family: 'Neucha', cursive;

}
.title-timeline{
  display: inline-flex;
  font-family: 'Neucha', cursive;
  margin-top: 0px;
  font-size: 22px;
  font-weight: bold;
  color:#46ACC2;
}
.company-timeline{
  display: inline-flex;
  font-family: 'Neucha', cursive;
  margin-left:5px;
  font-size: 14px;
}
.description-time{
  font-size: 18px;
}

/* SKILLS STYLING */
.skills-ul{
  background-color: white;
  padding:20px;
  border-radius:4px;
  border-right: 30px;
  border-right: 50%;
  list-style: none;
}

.skills{
  font-family: 'Neucha', cursive;

}
.skills-detail{
  font-family: 'Neucha', cursive;
  padding:10px;
  margin:4px;
}
.others{
  font-family: 'Neucha', cursive;
}
.others-detail{
  font-family: 'Neucha', cursive;
  padding:10px;
  margin:4px;
}

/* PROJECTS SECTION CSS */
.main-content {
  /* padding:10%; */
  flex:1 1 100%;

}
#work {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background: grey;
}
.portfolio{

  display:grid;
  height:100%;
  grid-template-rows:repeat(10,1fr);
  grid-template-columns:repeat(10,1fr);

}
.portfolio-item {
  background:white;
  color:black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:2em;
}
.box {
  background-color:black;
  background-blend-mode: screen;
  color:white;
  text-shadow:  0 0 4 px rgba(0, 0, 0, 0.85);
  background-size: 100% 100%;
  background-position: top left;
  transition:all ease-in-out 300ms;
  position:relative;
  z-index: 10;
}
/* .arrow-up {
  width: 0;
  height: 0;
  position:absolute;
  top:0;
  left:50%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
*/
/* .arrow-down {
  width: 0;
  height: 0;
  position:absolute;
  top:0;
  left:40%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid white;
} */

.box:hover::before{
  opacity: 0.1;
  transition:all ease-in-out 300ms;
}
.box::before{
  content:'';
  display:block;
  background:white;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity: .7;
  z-index: -1;
}
.show-project{
  display:block;
}
.project-description{
  display:none;
  background-color: black;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity: .9;
}
.project-title{
    padding: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color:white;
    font-size:21px;
}

.work-description{
  padding: 20px;
  display: block;
  width: 100%;
  text-align: center;
  color:white;
  font-size:17px;
}

.work-description-small{
  padding: 5px;
  display: block;
  width: 100%;
  text-align: center;
  color:white;
  font-size:17px;
}
.project-anchor{
  display: block;
  width: 100%;
  text-align: center;
  color:white;
  font-size:17px;
}

/* SKILLS SECTION CSS */
.skills-container{
  width:100%;
  position:relative;
  margin:auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* opacity: .4; */
  background-color: white;
}

.skills-image{
  margin:auto;
  display:block;
}



.skills-image {

  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  mask: url('../images/skills@0,5x.png');
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  animation: polygons 10s infinite;
}
  @keyframes polygons {
  15% {
  clip-path: polygon(36% 32%, 72% 32%, 70% 72%, 35% 73%);
  background: yellow;
  }

  25% {
  clip-path: polygon(3% 1%, 42% 18%, 78% 58%, 0 118%);
  background: orange;
  }
  35% {
  clip-path: polygon(36% 31%, 100% 8%, 93% 89%, 35% 71%);
  background: cornflowerblue;
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  }
}

/* FOOTER STYLING */
a {
  text-decoration: none
}
.generic-anchor {
	color: #8DB9ED;
	&:visited {
		color: #8DB9ED
	}
	&:hover {
		color: #ccc
	}
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
/* MEDIA QUERIES FOR TIMELINE */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #a2e87e transparent transparent;
  }
  .car-image{
    margin:0
  }
}

/* MEDIA QUERIES FOR NAVBAR  */
@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Header-Title-Logo{
    font-size: 15px;
  }

  .Header-Image-Logo{
      margin-left:0px;
  }
  .Navbar__Items {
    display:none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__Items--right .Navbar__Link{
    justify-content: center;

  }
  .Navbar__Link {
    text-align: center;
  }
  .Navbar__Link-toggle {
  align-self: center;
  display: initial;
  cursor: pointer;
  }
  .Navbar__ToggleShow{
    display:flex;


  }
}


/* MEDIA QUERIES FOR PROJECTS GRID */
@media screen and (max-width: 550px){
  .portfolio{
    display:grid;
    margin: auto;
    width: 100%;
    padding: 10%;
    height:2400px;
    grid-template-rows:repeat(20,1fr);
    grid-template-columns:repeat(2,1fr);
    grid-row-gap: 1em;

  }
  .email {
    grid-row: span 4;
    grid-column: span  2;
    background-image: url('../images/work/mobile/email-mobile.png');
  }
  .climbing-app{
    grid-row: span 3;
    grid-column: span  2;
    background-image: url('../images/work/climbing-app.png');
  }
  .page-stationery{
    grid-row: span 5;
    grid-column: span  2;
    background-image: url('../images/work/mobile/stationary-mobile.jpeg');
  }
  .salesforce{
    grid-row: span 3;
    grid-column: span  1;
    background-image: url('../images/work/mobile/salesforce-mobile.jpg');
  }
  .pixfizz{
    grid-row: span 5;
    grid-column: span  2;
    background-image: url('../images/work/mobile/pixfizz-mobile.jpeg');

  }

  .twilio{
    grid-row: span 3;
    grid-column: span  1;
    background-image: url('../images/work/mobile/twilio-mobile.jpg');
  }
}
@media screen and (min-width: 550px) and (max-width: 650px){
  .portfolio{
    grid-template-rows:repeat(13,1fr);
    grid-template-columns:repeat(14,1fr);
    height:100%;
  }
  .email {
    grid-row:span 5;
    grid-column: span  7;
    background-image: url('../images/work/email.png');
  }
  .climbing-app{
    grid-row:span 5;
    grid-column: span  7;
    background-image: url('../images/work/climbing-app.png');
  }
  .page-stationery{
    grid-row:span 8;
    grid-column: span  5;
    background-image: url('../images/work/page-stationery.png');
  }
  .pixfizz{
    grid-row:span 4;
    grid-column: span  9;
    background-image: url('../images/work/pixfizz.png');
  }
  .salesforce{
    grid-row: span 4;
    grid-column: span  5;
    background-image: url('../images/work/salesforce-hooks.jpg');
  }
  .twilio{
    grid-row: span 4;
    grid-column: span  4;
    background-image: url('../images/work/twilio.jpg');
  }

}

@media screen and (min-width: 651px) and (max-width: 800px){
    .portfolio{
      height:100%;
      height:1000px;
      grid-template-rows:repeat(20,1fr);
      grid-template-columns:repeat(10,1fr);

    }
    .email {
      grid-row:span 8;
      grid-column: span  5;
      background-image: url('../images/work/email.png');
    }
    .climbing-app{
      grid-row:span 8;
      grid-column: span  5;
      background-image: url('../images/work/climbing-app.png');
    }
    .page-stationery{
      grid-row:span 10;
      grid-column: span  4;
      background-image: url('../images/work/page-stationery.png');
    }
    .pixfizz{
      grid-row:span 6;
      grid-column: span  6;
      background-image: url('../images/work/pixfizz.png');
    }
    .salesforce{
      grid-row: span 4;
      grid-column: span  3;
      background-image: url('../images/work/salesforce-hooks.jpg');
    }
    .twilio{
      grid-row: span 4;
      grid-column: span  3;
      background-image: url('../images/work/twilio.jpg');
    }
}

@media screen and (min-width: 801px) and (max-width: 1050px){

    .portfolio{
      height:100%;
      height:1000px;
      grid-template-rows:repeat(20,1fr);
      grid-template-columns:repeat(10,1fr);
    }
    .email {
      grid-row:span 7;
      grid-column: span  5;
      background-image: url('../images/work/email.png');
    }
    .climbing-app{
      grid-row:span 7;
      grid-column: span  5;
      background-image: url('../images/work/climbing-app.png');
    }
    .page-stationery{
      grid-row:span 10;
      grid-column: span  3;
      background-image: url('../images/work/page-stationery.png');
    }
    .pixfizz{
      grid-row:span 6;
      grid-column: span  7;
      background-image: url('../images/work/pixfizz.png');
    }
    .salesforce{
      grid-row: span 4;
      grid-column: span  3;
      background-image: url('../images/work/salesforce-hooks.jpg');
    }
    .twilio{
      grid-row: span 4;
      grid-column: span  4;
      background-image: url('../images/work/twilio.jpg');
    }
  }

  @media screen and (min-width: 1051px) and (max-width: 1200px){
    .portfolio{

      height:1200px;
      grid-template-rows:repeat(17,1fr);
      grid-template-columns:repeat(14,1fr);
    }
      .email {
        grid-row:span 7;
        grid-column: span  7;
        background-image: url('../images/work/email.png');
      }
      .climbing-app{
        grid-row:span 7;
        grid-column: span  7;
        background-image: url('../images/work/climbing-app.png');
      }
      .page-stationery{
        grid-row:span 10;
        grid-column: span  4;
        background-image: url('../images/work/page-stationery.png');
      }
      .pixfizz{
        grid-row:span 6;
        grid-column: span  10;
        background-image: url('../images/work/pixfizz.png');
      }
      .salesforce{
        grid-row: span 4;
        grid-column: span  5;
        background-image: url('../images/work/salesforce-hooks.jpg');
      }
      .twilio{
        grid-row: span 4;
        grid-column: span  5;
        background-image: url('../images/work/twilio.jpg');
      }
    }

    @media screen and (min-width: 1201px){
      .portfolio{

        height:1400px;
        grid-template-rows:repeat(17,1fr);
        grid-template-columns:repeat(14,1fr);
      }
        .email {
          grid-row:span 7;
          grid-column: span  7;
          background-image: url('../images/work/email.png');
        }
        .climbing-app{
          grid-row:span 7;
          grid-column: span  7;
          background-image: url('../images/work/climbing-app.png');
        }
        .page-stationery{
          grid-row:span 10;
          grid-column: span  4;
          background-image: url('../images/work/page-stationery.png');
        }
        .pixfizz{
          grid-row:span 6;
          grid-column: span  10;
          background-image: url('../images/work/pixfizz.png');
        }
        .salesforce{
          grid-row: span 4;
          grid-column: span  5;
          background-image: url('../images/work/salesforce-hooks.jpg');
        }
        .twilio{
          grid-row: span 4;
          grid-column: span  5;
          background-image: url('../images/work/twilio.jpg');
        }


    @media screen and (min-width: 1590px){
      .portfolio{
        display:grid;
        height:1600px;
        grid-template-rows:repeat(17,1fr);
        grid-template-columns:repeat(14,1fr);

      }
      .email {
        grid-row:span 7;
        grid-column: span  7;
        background-image: url('../images/work/email.png');
      }
      .climbing-app{
        grid-row:span 7;
        grid-column: span  7;
        background-image: url('../images/work/climbing-app.png');
      }
      .page-stationery{
        grid-row:span 10;
        grid-column: span  4;
        background-image: url('../images/work/page-stationery.png');
      }
      .pixfizz{
        grid-row:span 6;
        grid-column: span  10;
        background-image: url('../images/work/pixfizz.png');
      }
      .salesforce{
        grid-row: span 4;
        grid-column: span  5;
        background-image: url('../images/work/salesforce-hooks.jpg');
      }
      .twilio{
        grid-row: span 4;
        grid-column: span  5;
        background-image: url('../images/work/twilio.jpg');
      }

    }

    /* MEDIA QUERIES FOR FOOTER */

    @media only screen and (max-width: 768px) {

  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {


  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
